<h1 class="mt-5">Seletores aninhados</h1>
<hr />

<form [formGroup]="formulario" (ngSubmit)="guardar()">
  <!-- Regiao -->
  <div class="row mb-3">
    <div class="col-9">
      <label class="form-label">Continente:</label>
      <select class="form-select" formControlName="regiao">
        <option value="">-- Selecione Continente --</option>
        <option *ngFor="let regiao of regioes" [value]="regiao | lowercase">
          {{ regiao }}
        </option>
      </select>
    </div>
  </div>

  <!-- Pais -->
  <div class="row mb-3" *ngIf="paises.length !== 0">
    <div class="col-9">
      <label class="form-label">País:</label>
      <select class="form-select" formControlName="pais">
        <option value="">-- Selecione o País --</option>
        <option *ngFor="let pais of paises" [value]="pais.alpha3Code">
          {{ pais.name }}
        </option>
      </select>
    </div>
  </div>

  <!-- Fronteiras -->
  <div class="row mb-3" *ngIf="fronteiras.length !== 0">
    <div class="col-9">
      <label class="form-label">Fronteiras:</label>
      <select class="form-select" formControlName="fronteira">
        <option value="">-- Selecione uma fronteira --</option>
        <option
          *ngFor="let fronteira of fronteiras"
          [value]="fronteira.alpha3Code"
        >
          {{ fronteira.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="row" *ngIf="carregando">
    <div class="col-9">
      <div class="alert alert-primary">Carregando..</div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-9">
      <button type="submit" class="btn btn-primary float-end">
        Selecionar
      </button>
    </div>
  </div>
</form>

<hr />

<h3>Formulario</h3>
<p>
  Valid:
  <span
    [ngClass]="formulario.valid ? 'text-success' : 'text-danger'"
    class="fw-bold"
  >
    {{ formulario.valid }}
  </span>
</p>
<p>{{ formulario.value | json }}</p>
