<div class="text-layout">
  <h1>Pipes pouco utilizados</h1>
  <p>Pipes incluidos no Angular - Frequentemente guardados no Common Module</p>
</div>

<div class="grid text-layout">
  <!-- ! i18nSelect -->
  <div class="col md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Saldações {{ nome }}, é um prazer
        {{ genero | i18nSelect : trocaGeneroPalavra }}
        ao nosso evento.
      </p>
      <button
        pButton
        label="Trocar pessoa"
        class="p-button-help"
        (click)="trocarCliente()"
      ></button>
    </p-fieldset>
  </div>

  <!--! i18nPlural -->
  <div class="col md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Atualmente {{ clientes.length | i18nPlural : clientesMapa }}</p>
      <button
        pButton
        class="p-button-danger"
        label="Excluir cliente"
        (click)="excluirCliente()"
      ></button>
    </p-fieldset>
  </div>

  <!--! Json -->
  <div class="col md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>{{ herois | json }}</pre>
    </p-fieldset>
  </div>

  <!--! Slice -->
  <div class="col md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clientes }}</pre>

      <b>slice:0:2</b>
      <pre>{{ clientes | slice : 0 : 2 }}</pre>

      <b>slice:1:2</b>
      <pre>{{ clientes | slice : 1 : 2 }}</pre>
    </p-fieldset>
  </div>

  <!--! KeyValue -->
  <div class="col md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of pessoa | keyvalue">
          <b>{{ item.key | titlecase }}:</b> {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <!--! Async Pipe -->
  <div class="col md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <p>
        Subscreve internamente no observable e exibe o valor de cada emissão
      </p>

      <ng-container *ngIf="meuObservable | async as data; else loading">
        {{ data }}
      </ng-container>
      <ng-template #loading>
        <p>Carregando...</p>
      </ng-template>
    </p-fieldset>
  </div>
</div>
