<mat-grid-list cols="1" *ngIf="!heroi; else contentHeroi">
  <mat-grid-tile>
    <mat-spinner></mat-spinner>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #contentHeroi>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px">
    <div fxFlex="50">
      <h1>
        {{ heroi.superhero }} <small>- {{ heroi.alter_ego }}</small>
      </h1>
      <mat-divider></mat-divider>
      <br />
      <img [src]="heroi | image" />
    </div>

    <div fxFlex="50">
      <h1>{{ heroi.publisher }}</h1>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          {{ heroi.first_appearance }}
        </mat-list-item>
        <mat-list-item>
          {{ heroi.characters }}
        </mat-list-item>
        <mat-list-item>
          {{ heroi.publisher }}
        </mat-list-item>
        <mat-list-item>
          {{ heroi.alter_ego }}
        </mat-list-item>
      </mat-list>
      <br />
      <button mat-button color="warn" (click)="voltar()">Voltar</button>
      <br>
      <button mat-button color="primary" (click)="modalInstancia.toggle()">Próxima etapa</button>
      <modal-personalizado #modalInstancia>
        <div class="conteudo">
          <modal-resumo-heroi/>
        </div>

        <div class="acoes" style="display: flex; justify-content: space-around;">
          <button
          (click)="modalInstancia.toggle();"
          class="btn-primario" mat-button color="warn">Cancelar</button>
          <button
          (click)="modalInstancia.toggle(); enviar()"
          class="btn-primario" mat-button color="primary">Enviar</button>
        </div>
      </modal-personalizado>
    </div>
  </div>
</ng-template>
