<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nome do usuário"
            formControlName="name"
          />

          <span *ngIf="isInvalidField('name')" class="form-text text-danger">
            Deve estar no formato de nome e sobrenome
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email do usuario"
            formControlName="email"
          />
          <span *ngIf="isInvalidField('email')" class="form-text text-danger">
            mensaje de error del email
          </span>
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Apelido"
            formControlName="username"
          />
          <span
            *ngIf="isInvalidField('username')"
            class="form-text text-danger"
          >
            O nome não pode ser Strider
          </span>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Senha"
            formControlName="password"
          />

          <span
            *ngIf="isInvalidField('password')"
            class="form-text text-danger"
          >
            A senha deve ter mais de 6 caracteres.
          </span>
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar senha"
            formControlName="password2"
          />

          <span
            *ngIf="isInvalidField('password2')"
            class="form-text text-danger"
          >
            As senhas devem ser iguais
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">Criar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form Valid: {{ myForm.valid | json }}</h2>
<h2>Form Status: {{ myForm.status }}</h2>
<h2>Form Pending: {{ myForm.pending }}</h2>
<h2>Form errors</h2>
<pre>{{ myForm.errors | json }}</pre>

<h5>Nome</h5>
<pre>{{ myForm.controls["name"].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ myForm.controls["email"].errors | json }}</pre>

<h5>Username</h5>
<pre>{{ myForm.get("username")?.errors | json }}</pre>

<h5>Password</h5>
<pre>{{ myForm.value.password | json }}</pre>

<h5>Confirmar</h5>
<pre>{{ myForm.controls["password2"].errors | json }}</pre>
