<section *ngIf="false">
  <h2>Informações do herói aqui</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim adipisci culpa tempora
    nulla, odio voluptates iusto beatae consequuntur, quae ut illum maxime quasi sapiente
    eaque quisquam, aut magnam in laboriosam!
  </p>

  <ul>
    <li>heroi forte</li>
    <li>heroi forte</li>
    <li>heroi forte</li>
    <li>heroi forte</li>
  </ul>
</section>

<section>
  <header>
		<div class="Content__Header">
			 <!-- <i class="fas fa-tasks"></i> -->
       <i class="fa-solid fa-list-check"></i>
			<p class="Content__Title">Revise as informações fornecidas e
confirme seu envio.</p>
		</div>
	</header>
	<main>
		<div class="Content__Info">
				<h2>
					Receita a cadastrar
				</h2>
				<p>COTA EXTRA</p>
			</div>

		<div class="Content__Info">
				<h2>
					Nomenclatura da receita
				</h2>
				<p>MANUT.CENTRAL PORTARIA</p>
			</div>

		<div class="Content__Info">
			<h2>
				Subconta para o cadastro
			</h2>
			<p>012 – PRINCIPAL – PAGAMENTOS</p>
		</div>

		<div class="Conteiner__Valor">
			<div class="Content__Info">
				<h2>Valor total da arrecadação</h2>
				<p>R$ 1.000,00</p>
			</div>
				<div class="Content__Info">
				<h2>No. de parcelas</h2>
				<p>4</p>
			</div>
				<div class="Content__Info">
				<h2>Início</h2>
				<p>mai/2023</p>
			</div>
			<div class="Content__Info">
				<h2>Fim</h2>
				<p>ago/2023</p>
			</div>
		</div>

		<div class="Content__Info">
			<h2>Forma de pagamento</h2>
			<p>acoplada</p>
		</div>

		<div class="Content__Info">
			<h2>Vencimento original</h2>
			<p>01/05/2023</p>
		</div>

		<div class="Content__Info">
			<h2>Detalhes sobre o cadastro</h2>
			<p>Mais onfromações sobre a cota extra preenchidas no formulário</p>
		</div>

		<div class="Content__Info">
			<h2>Envio automático de circular</h2>
			<p>ATIVADO</p>
		</div>

		<div class="Content__Info">
			<h2>Anexos</h2>

			<a href="#">
				<i class="fas fa-file-pdf"></i>
				Template_circular.pdf
			</a>
				<a href="#">
					<i class="fas fa-file-pdf"></i>
				Template_circular.pdf
			</a>
		</div>

		<div class="Alert__info">
			<h2>Atenção!</h2>
			<p>Após a confirmação do envio, valores e informações referentes a este cadastro serão processados e analisados por nossa equipe e enviados a você posteriormente. Fique atento às suas notificações!</p>
		</div>
<!--
		<div class="Actions">
			<button>Cancelar</button>
			<button (click)="enviarForm()">Enviar</button>
		</div> -->
	</main>
</section>
